.sw_ajax_search_form_wrap {
    background: #242424;
    color: #ffffff;
    padding: 10px;
    border-radius: 10px;
}

.sw_ajax_search_form_wrap select {
    width: 100%;
}

.sw_ajax_search_form_wrap input[type=text], .sw_ajax_search_form_wrap input[type=time] {
    border: 1px solid #d2d2d2;
    font-size: 13px;
    color: #747474;
    padding: 8px 15px;
    width: 100%;
    box-sizing: border-box;
}

.article_list_202105030749 {
    margin: 10px 0px;
    font-size: 14px;
    padding: 0 10px;
    cursor: pointer;
}

.sw_ajax_search_form_wrap a:link, .sw_ajax_search_form_wrap a:visited {
    color: #fff;
}